
    <link rel="stylesheet" href="/css/number.css">

    <form action="/auth/otp/send/" role="form" method="POST" class="form">
        <div class="container new-login-area">
    <div id='sign-in' class='login-setup-section'>
        <h3 class="request-otp-header">Please verify your mobile number</h3>
        <div class="form-group login-label">
            <label for="inputnumber">mobile number</label>
            <input id="number" type="number" placeholder="Email" name="number" value="" required="">
        </div>
        <button type="button" class="btn btn-default btn-lg btn-block request-otp" id='request-otp'>Get OTP</button>
    </div>
</div>
