
  <link rel="stylesheet" href="./respone-ticket.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>Response-Ticket</title>

  <header>
    <div class="user" dir="rtl">
      <div class="icon">
      <i class='bx bxs-user-circle user-icon'></i>
      </div>
      <div class="use">
        <h2>Admin</h2>
      </div>
    </div>
    <hr>
    <nav>
      <ul>
        <li style="display: flex;"><i class='bx bx-message-dots list-icon'></i><a href="./Admin-ticket">Ticket</a></li>
        <li style="display: flex;"><i class='bx bx-user list-icon'></i><a href="./user">Users</a></li>
        <li style="display: flex;"><i class='bx bx-home list-icon'></i><a href="./Admin">Dashboard</a></li>
    </ul>
    </nav>
  </header>
  <div class="kol">
    <div class="user-ticket ticket">
        <div class="h2-user">
            <h2>User Ticket</h2>
        </div>
        <div class="box-user box" >
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic sint dolore consequuntur, alias temporibus numquam animi ipsa nesciunt id perspiciatis quia blanditiis eligendi doloribus consequatur! Nobis doloremque reprehenderit eaque totam?</h4>
        </div>
    </div>
    <div class="admin-ticket ticket">
        <div class="h2-admin">
        <h2>Admin Ticket</h2>
        </div>
        <div class="box-admin box">
            <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae aut corrupti nobis, impedit excepturi perferendis nulla vel nisi accusamus delectus blanditiis numquam nesciunt eos reiciendis, error voluptas eum cupiditate eius.</h4>
        </div>
    </div>
  </div> 

  <form action="#" method="post">
    <div class="text">
    <textarea name="send-ticket" id="sent-ticket" cols="30" rows="10" placeholder="Send Ticket"></textarea>
    </div>
    <div class="butt">
        <a href="#">Send</a>
    </div>
</form>
  
  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
