<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/Admin.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<title>Admin</title>
  <header>
    <div class="user" dir="rtl">
      <div class="icon">
      <i class='bx bxs-user-circle user-icon'></i>
      </div>
      <div class="use">
        <h2>Admin</h2>
      </div>
    </div>
    <hr>
    <nav>
      <ul>
        <li style="display: flex;"><i class='bx bx-message-dots list-icon'></i><a href="/admin/tickets">Ticket</a></li>
        <li style="display: flex;"><i class='bx bx-user list-icon'></i><a href="/admin/users">Users</a></li>
        <li style="display: flex;"><i class='bx bx-home list-icon'></i><a href="/admin">Dashboard</a></li>
    </ul>
    </nav>
  </header>
   
  
  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

